h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

img { 
width: 80px;
height: auto;
border-style: solid none;
border-width: 6px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 400px;
padding-right: 400px;
}

button{
    border: none;
    background-color: #D70505;
    padding: 30px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 3px 3px;
}

button:hover {
    background-color: black;
}


h1 {
    margin: 60px;
    font-size: 100px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

h5 {
    font-size: 12px;

}

h6 {
    font-size: 12px;
}

#letterform-character {
    font-size: 300px;
}

#container {
    width: 1024;
    margin: 0 auto;

}