h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
    font-family: 'Bitter', serif;
}

img { 
width: 60px;
height: auto;
border-style: solid none;
border-width: 3px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 200px;
padding-right: 600px;
}

h5 h6 {
    position: absolute;
    top: 20 px;
    right: 20 px;
}

button{
    border: none;
    background-color: #D70505;
    padding: 30px;
    cursor: pointer;
    border-radius: 50%;
}

button:hover {
    background-color: black;
}

body {
    font: 15px 
}

#author {
    position: relative;
}

p:first-letter {
    float: left;
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
    margin-right: 9px;
}

h1 {
    margin: 60px;
    font-size: 100px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
   height: auto;
   width: 740px;
}

h5 {
    font-size: 12px;

}

h6 {
    font-size: 12px;
}

#letterform-character {
    font-size: 300px;
}

#container {
    width: 1024;
    margin: 0 auto;

}